.user-info {
    display: flex;
    align-items: center;
    gap: .5rem;

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    span {
        color: var(--gray-25);
        font-size: .875rem;
    }
}