.button {
    height: 50px;
    padding: 0 32px;
    border-radius: 8px;
    
    background: #835afd;
    color: #fff;
    font-weight: 500;
    transition: filter .2s;
    
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 16px;
    }

    &.outlined {
        background: #fff;
        border: 1px solid #835afd;
        color: #835afd;
        transition-property: color, background;
        transition-duration: .2s;

        &:not(:disabled):hover {
            background: #E73F5D;
            color: #fefefe;
            border: 1px solid #E73F5D;
        }
    }

    &:not(:disabled):hover {
        filter: brightness(.9);
    }

    &:disabled {
        opacity: .6;
        cursor: not-allowed;
    }
}