.button {
    height: 3.125rem;
    padding: 0 2rem;
    border-radius: .5rem;
    
    background: var(--purple);
    color: var(--white);
    font-weight: 500;
    transition: filter .2s;
    
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 1rem;
    }

    &.outlined {
        background: none;
        border: 1px solid var(--purple);
        color: var(--purple);
        transition-property: color, background;
        transition-duration: .2s;

        &:not(:disabled):hover {
            background: var(--red);
            color: var(--white);
            border: 1px solid var(--red);
        }
    }

    &:not(:disabled):hover {
        filter: brightness(.9);
    }

    &:disabled {
        opacity: .6;
        cursor: not-allowed;
    }
}