.button {
    height: 3.125rem;
    padding: 0 2rem;
    border-radius: .5rem;
    
    background: var(--purple);
    color: #f4f0ff;
    font-weight: 500;
    transition: filter .2s;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

    img {
        margin-right: 1rem;
    }

    &.outlined {
        background: none;
        border: 1px solid var(--purple);
        color: var(--purple);
        transition-property: color, background;
        transition-duration: .2s;

        &:not(:disabled):hover {
            background: var(--red);
            color: #f4f0ff;
            border: 1px solid var(--red);
        }

        &#open-room:not(:disabled):hover {
            background: var(--green);
            color: #f4f0ff;
            border: 1px solid var(--green);
        }
    }

    &:not(:disabled):hover {
        filter: brightness(.9);
    }

    &:disabled {
        opacity: .6;
        cursor: not-allowed;
    }
}

// mobile

@media(max-width: 768px) {
    .button {
        padding: 0 1rem;
    }
}