.ReactModal__Overlay {
    background: rgba(0, 0, 0, .8) !important;
    opacity: 0;
    transition: opacity .2s;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content {
    max-width: 95vw;
    margin-right: -50% !important;
    padding: 4rem 7.625rem !important;;

    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;

    text-align: center;
    transform: translate(-50%, -50%) !important;
    border: none !important;
    border-radius: .5rem !important;
    background: var(--white) !important;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
        width: 3rem;
        height: 3rem;
        fill: var(--black);
    }

    h2 {
        margin: 1.5rem 0 .75rem;
    }

    p {
        color: var(--gray-25);
    }

    .buttons {
        display: flex;
        gap: 1.5rem;

        button {
            margin-top: 2.5rem;
            border-radius: .5rem;
            padding: .875rem 2rem;
            background: var(--gray-100);
            border: 1px solid var(--gray-100);
            color: var(--gray-10);
            transition-property: color, border, background;
            transition-duration: .2s;

            &:hover {
                background: var(--gray-200);
                border: 1px solid var(--gray-50);
            }

            &.confirm {
                color: var(--white);
                background: var(--red);
                border: 1px solid var(--red);

                &:hover {
                    background: var(--red-dark);
                }

                &.green {
                    background: var(--green);
                    border: 1px solid var(--green);

                    &:hover {
                        background: var(--green-dark);
                    }
                }
            }
        }
    }
}

// mobile

@media(max-width: 768px) {
    .ReactModal__Content {
        padding: 2rem !important;
    }
}