.ReactModal__Overlay {
    background: rgba(0, 0, 0, .8) !important;
}

.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    border: none !important;
    border-radius: .5rem !important;
    
    padding: 4rem 7.625rem !important;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        margin: 1.5rem 0 .75rem;
    }

    p {
        color: var(--gray-25);
    }

    .buttons {
        display: flex;
        gap: 1.5rem;

        button {
            margin-top: 2.5rem;
            border-radius: .5rem;
            padding: .875rem 2rem;
            background: var(--gray-200);
            color: var(--gray-25);
            transition-property: color, border, background;
            transition-duration: .2s;

            &:hover {
                background: var(--gray-100);
            }

            &.confirm {
                color: var(--white);
                background: var(--red);

                &:hover {
                    background: var(--red-dark);
                }
            }
        }
    }
}