.empty-header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--gray-200);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;

    .content {
        max-width: 1120px;
        margin: 0 auto;

        img {
            max-height: 45px;
        }
    }
}