#page-auth {
    height: 100vh;
    display: flex;
    align-items: stretch;

    aside {
        flex: 7;
        padding: 120px 80px;
        background: #835afd;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 36px 'Poppins', sans-serif;
            line-height: 42px;
            margin: 16px 0;
        }

        p {
            font-size: 24px;
            line-height: 32px;
            color: #f8f8f8;
        }
    }

    main {
        flex: 8;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content  {
        width: 100%;
        max-width: 320px;
        text-align: center;
        display: flex;
        align-items: stretch;
        flex-direction: column;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            margin: 64px 0 24px;
        }

        form {
            input {
                height: 50px;
                padding: 0 16px;
                background: #fff;
                border-radius: 8px;
                border: 1px solid #a8a8b3;
            }

            input, button {
                width: 100%;
            }

            button {
                margin-top: 16px;
            }
        }

        p {
            margin-top: 16px;
            font-size: 14px;
            color: #737380;

            a {
                color: #e559f9;

                &:hover {
                    filter: brightness(.9);
                }
            }
        }
    }

    .create-room {
        height: 50px;
        margin-top: 64px;
        border-radius: 8px;

        background: #ea4335;
        color: #fff;
        font-weight: 500;
        transition: filter .2s;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 8px;
        }

        &:hover {
            filter: brightness(.9);
        }
    }

    .separator {
        font-size: 14px;
        color: #a8a8b3;
        margin: 32px 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 16px;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 16px;
        }
    }
}