#page-auth {
    height: 100vh;
    display: flex;
    align-items: stretch;

    aside {
        flex: 7;
        padding: 7.5rem 5rem;
        background: var(--purple);
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            max-width: 20rem;
        }

        strong {
            font: 700 2.25rem 'Poppins', sans-serif;
            line-height: 2.625rem;
            margin: 1rem 0;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
            color: #fefefe;
        }
    }

    main {
        flex: 8;
        padding: 0 2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .up-button {
            font-size: 0;
            position: absolute;
            top: 3rem;

            svg {
                width: 2rem;
                height: 2rem;
                fill: var(--black);
                transition: fill .2s;
            }
        }

        .toggle-theme-button {
            left: 4rem;
            
            &:hover svg {
                fill: var(--purple);
            }
        }

        .home-sign-out-button {
            right: 4rem;
            
            &:hover svg {
                fill: var(--red);
            }
        }
    }

    .main-content  {
        width: 100%;
        max-width: 20rem;
        text-align: center;
        display: flex;
        align-items: stretch;
        flex-direction: column;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 1.5rem;
            margin: 4rem 0 1.5rem;
        }

        form {
            input {
                height: 3.125rem;
                padding: 0 1rem;
                background: var(--white);
                border-radius: .5rem;
                border: 1px solid var(--gray-50);
            }

            input, button {
                width: 100%;
            }

            button {
                margin-top: 1rem;
            }
        }

        p {
            margin-top: 1rem;
            font-size: .875rem;
            color: var(--gray-25);

            a {
                color: var(--pink);

                &:hover {
                    filter: brightness(.9);
                }
            }
        }
    }

    .create-room {
        height: 3.125rem;
        margin-top: 4rem;
        border-radius: .5rem;

        background: var(--orange);
        color: #f4f0ff;
        font-weight: 500;
        transition: filter .2s;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: .5rem;
        }

        &:hover {
            filter: brightness(.9);
        }
    }

    .separator {
        font-size: .875rem;
        color: var(--gray-50);
        margin: 2rem 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: var(--gray-50);
            margin-right: 1rem;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: var(--gray-50);
            margin-left: 1rem;
        }
    }
}

// mobile

@media(min-height: 110vw) {
    #page-auth {
        flex-direction: column;

        aside {
            max-height: 80vh;
            padding: 4rem 3rem;
            align-items: center;
        }

        main {
            margin-top: 2rem;
            padding-bottom: 3.5rem;

            .up-button {
                top: 0;
            }
        }
    }
}

@media(max-width: 768px) {
    #page-auth {
        flex-direction: column;

        aside {
            align-items: center;

            img {
                max-height: 60%;
            }

            strong {
                font-size: 1.75rem;
            }

            p {
                font-size: 1rem;
            }
        }

        main {
            margin-top: 2rem;
            padding-bottom: 3.5rem;

            .up-button {
                top: 0;
            }

            .toggle-theme-button {
                left: 2rem;
            }
    
            .home-sign-out-button {
                right: 2rem;
            }
        }
    }
}