#page-auth {
    height: 100vh;
    display: flex;
    align-items: stretch;

    aside {
        flex: 7;
        padding: 7.5rem 5rem;
        background: #835afd;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            max-width: 20rem;
        }

        strong {
            font: 700 2.25rem 'Poppins', sans-serif;
            line-height: 2.625rem;
            margin: 1rem 0;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
            color: #f8f8f8;
        }
    }

    main {
        flex: 8;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content  {
        width: 100%;
        max-width: 20rem;
        text-align: center;
        display: flex;
        align-items: stretch;
        flex-direction: column;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 1.5rem;
            font-family: 'Poppins', sans-serif;
            margin: 4rem 0 1.5rem;
        }

        form {
            input {
                height: 3.125rem;
                padding: 0 1rem;
                background: #fff;
                border-radius: .5rem;
                border: 1px solid #a8a8b3;
            }

            input, button {
                width: 100%;
            }

            button {
                margin-top: 1rem;
            }
        }

        p {
            margin-top: 1rem;
            font-size: .875rem;
            color: #737380;

            a {
                color: #e559f9;

                &:hover {
                    filter: brightness(.9);
                }
            }
        }
    }

    .create-room {
        height: 3.125rem;
        margin-top: 4rem;
        border-radius: .5rem;

        background: #ea4335;
        color: #fff;
        font-weight: 500;
        transition: filter .2s;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: .5rem;
        }

        &:hover {
            filter: brightness(.9);
        }
    }

    .separator {
        font-size: .875rem;
        color: #a8a8b3;
        margin: 2rem 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 1rem;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 1rem;
        }
    }
}