* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
}

body, button, input, textarea {
    font: 400 1rem 'Roboto', sans-serif;
    border: none;
}

button, a {
    cursor: pointer;
    background: none;
    text-decoration: none;
}

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}