:root {
  --white: #ffffff;
  --black: #29292e;
  --gray-10: #535353;
  --gray-25: #737380;
  --gray-50: #a8a8b3;
  --gray-100: #DBDCDD;
  --gray-200: #fefefe;
  --background: #f8f8f8;
  --answered: #DBDCDD;
  --highlighted: #f4f0ff;
  --purple: #835afd;
  --pink: #e559f9;
  --orange: #ea4335;
  --red: #E73F5D;
  --red-dark: #db1b3e;
  --green: #2cb342;
  --green-dark: #22a137;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--black);
  transition: background .2s;
}

body, button, input, textarea {
  font: 400 1rem "Roboto", sans-serif;
  color: var(--black);
  border: none;
}

::placeholder {
  color: var(--gray-25);
}

button, a {
  cursor: pointer;
  background: none;
  text-decoration: none;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

.hot-toasts {
  background: var(--white);
  color: var(--black);

  > div:last-child {
    margin: 0 0 0 8px !important;
  }
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-50);
  border-radius: 8px;
  transition: .2s;
}

// ::-webkit-scrollbar-thumb:active {
//   background: var(--blue-dark);
// }


.loaderScreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.loader {
  display: block;
  z-index: 1031;

  width: 4rem;
  height: 4rem;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--purple);
  border-left-color: var(--purple);
  border-radius: 50%;

  -webkit-animation: load 400ms linear infinite;
  animation: load 400ms linear infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* responsive fonts */
@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 768px) {
  html {
      font-size: 87.5%;
  }
}