:root {
  --white: #fff;
  --black: #29292e;
  --gray-25: #737380;
  --gray-50: #a8a8b3;
  --gray-100: #cccdce;
  --gray-200: #DBDCDD;
  --gray-500: #fefefe;
  --gray-1000: #f8f8f8;
  --highlighted: #f4f0ff;
  --purple: #835afd;
  --pink: #e559f9;
  --orange: #ea4335;
  --red: #E73F5D;
  --red-dark: #db1b3e;
  --green: #2cb342;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-500);
  color: var(--black);
}

body, button, input, textarea {
  font: 400 1rem "Roboto", sans-serif;
  border: none;
}

button, a {
  cursor: pointer;
  background: none;
  text-decoration: none;
}


.loaderScreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.loader {
  display: block;
  z-index: 1031;

  width: 4rem;
  height: 4rem;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--purple);
  border-left-color: var(--purple);
  border-radius: 50%;

  -webkit-animation: load 400ms linear infinite;
  animation: load 400ms linear infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
