#page-room {
    header {
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > img {
                max-height: 45px;
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }

            span {
                margin-left: 16px;
                background: #e559f9;
                color: #fff;
                font-weight: 500;
                font-size: 14px;
                border-radius: 25px;
                padding: 8px 16px;
            }
        }

        form {
            textarea {
                width: 100%;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px #0000000a;
                resize: vertical;
                min-height: 130px;
            }

            .form-footer {
                margin-top: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    font-size: 14px;
                    color: #737388;
                    font-weight: 500;

                    button {
                        color: #836afd;
                        font-weight: 500;
                        text-decoration: underline;
                        transition: filter .2s;

                        &:hover {
                            filter: brightness(.8);
                        }
                    }
                }
            }
        }
    }
}