#page-room {
    height: 100vh;

    header {
        padding: 1.5rem;
        border-bottom: 1px solid var(--gray-200);

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a img {
                max-height: 45px;
            }

            div {
                display: flex;
                gap: 1rem;

                button {
                    height: 2.5rem;
                }
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        .room-title {
            margin: 2rem 0 1.5rem;
            display: flex;
            align-items: center;

            h1 {
                font-size: 1.5rem;
                color: var(--black);
            }

            span {
                margin-left: 1rem;
                background: var(--pink);
                color: var(--white);
                font-weight: 500;
                font-size: .875rem;
                border-radius: 25px;
                padding: .5rem 1rem;
            }
        }

        form {
            textarea {
                width: 100%;
                padding: 1rem;
                border-radius: .5rem;
                background: var(--gray-500);
                box-shadow: 0 2px 12px #0000000a;
                resize: vertical;
                min-height: 8.125rem;
                outline-color: var(--purple);
            }

            .form-footer {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        border: 1px solid var(--black);
                    }

                    span {
                        margin-left: .5rem;
                        color: var(--black);
                        font-weight: 500;
                        font-size: .875rem;
                    }
                }

                > span {
                    font-size: .875rem;
                    color: var(--gray-25);
                    font-weight: 500;

                    button {
                        color: var(--purple);
                        font-weight: 500;
                        text-decoration: underline;
                        transition: filter .2s;

                        &:hover {
                            filter: brightness(.8);
                        }
                    }
                }
            }
        }

        .question-list {
            margin-top: 2rem;
            padding-bottom: 4rem;
            list-style: none;
        }

        .empty-questions {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-size: 1.5rem;
                margin: 1rem 0 .5rem;
            }

            p {
                font-size: .875rem;
                color: var(--gray-25);
            }
        }
    }
}