#page-room {
    height: 100vh;

    header {
        padding: 1.5rem;
        border-bottom: 1px solid var(--gray-100);

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-header-div {
                display: flex;
                align-items: center;

                button {
                    font-size: 0;

                    svg {
                        width: 2rem;
                        height: 2rem;
                        fill: var(--black);
                        transition: fill .2s;
                    }

                    &:hover svg {
                        fill: var(--purple);
                    }
                    
                    &.sign-out-button:hover svg {
                        fill: var(--red);
                    }

                    &:disabled {
                        cursor: not-allowed;

                        svg {
                            fill: var(--gray-50)
                        }
                    }
                }
            }

            a {
                margin-right: 1rem;

                img {
                    max-height: 45px;
                }
            }

            > div {
                display: flex;
                gap: 2rem;

                button {
                    height: 2.5rem;
                }
            }
        }
    }

    main {
        max-width: 840px;
        padding: 0 20px;
        margin: 0 auto;

        .room-header {
            margin: 2rem 0 1.5rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h1 {
                font-size: 1.5rem;
                color: var(--black);
            }

            > div {
                display: flex;
                gap: 1rem;
      
                span {
                    color: var(--black);
                }
    
                > span {
                    background: var(--pink);
                    color: #f4f0ff;
                    font-weight: 500;
                    font-size: .75rem;
                    border-radius: 25px;
                    padding: .5rem 1rem;
                }
            }
        }

        form {
            textarea {
                width: 100%;
                padding: 1rem;
                border-radius: .5rem;
                background: var(--gray-200);
                box-shadow: 0 2px 12px #0000000a;
                resize: vertical;
                min-height: 8.125rem;
                outline-color: var(--purple);
            }

            .form-footer {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user-info {
                    span {
                        color: var(--black);
                        font-weight: 500;
                    }
                }

                > span {
                    font-size: .875rem;
                    color: var(--gray-25);
                    font-weight: 500;

                    button {
                        color: var(--purple);
                        font-weight: 500;
                        text-decoration: underline;
                        transition: filter .2s;

                        &:hover {
                            filter: brightness(.8);
                        }
                    }
                }
            }
        }

        .question-list {
            margin-top: 2rem;
            padding-bottom: 4rem;
            list-style: none;
        }

        .empty-questions {
            margin-top: 4rem;
            padding-bottom: 3rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-size: 1.5rem;
                margin: 1rem 0 .5rem;
            }

            p {
                font-size: .875rem;
                color: var(--gray-25);
            }
        }
    }
}


// mobile

@media(max-width: 768px) {
    #page-room {
        header {
            .content {
                .left-header-div {
                    > div {
                        gap: 1rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 600px) {
    #page-room {
        header .content {
            flex-direction: column;
            gap: 2rem;
        }
    }
}