.back-to-top-button {
    padding: 1rem;
    border-radius: 50%;
    background: var(--purple);

    transition: all .2s;
    font-size: 0;
    opacity: 0;
    transform: scale(0);

    position: fixed;
    bottom: 3rem;
    right: 2rem;

    &.visible {
        transform: scale(1);
        opacity: 1;
    }

    svg {
        width: 2rem;
        height: 2rem;
    }
}

// mobile

@media(max-width: 1000px) {
    .back-to-top-button {
        bottom: 1rem;
        right: 1rem;
    }
}