.question {
    padding: 1.5rem;
    background: #fefefe;
    border-radius: .5rem;
    box-shadow: 0 2px 12px #0000000a;

    & + .question {
        margin-top: .5rem;
    }

    &.highlighted {
        background: #f4f0ff;
        border: 1px solid #835afd;

        footer .user-info span {
            color: #29292e;
        }
    }

    &.answered {
        background: #DBDCDD;

        .answer-question {
            svg {
                path, circle {
                    stroke: #2cb342;
                }

                &:hover {
                    path, circle {
                        stroke: #E73F5D;
                    }
                }
            }
        }
    }

    p {
        color: #29292e;
    }

    footer {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 1px solid #29292e;
            }

            span {
                margin-left: .5rem;
                color: #737380;
                font-size: .875rem;
            }
        }

        > div:not(.user-info) {
            display: flex;
            gap: 1rem;

            svg path,
            svg circle {
                transition: stroke .2s;
            }
        }

        .answer-question:hover svg {
            path, circle {
                stroke: #2cb342;
            }
        }

        .highlight-question:hover svg path {
            stroke: #835afd;
        }
        
        .delete-question:hover svg path {
            stroke: #E73F5D !important;
        }

        .like-button {
            display: flex;
            align-items: flex-end;
            cursor: default;
            gap: .5rem;
            color: #737380;

            &.liked {
                color: #835afd;

                svg path {
                    stroke: #835afd;
                }
            }

            &:not(:disabled) svg {
                cursor: pointer;
                transition: filter .2s;

                &:hover {
                    filter: brightness(.6);
                }
            }

            svg {
                margin-bottom: 2px;
                cursor: not-allowed;
            }
        }
    }
}
