.question {
    padding: 1.5rem;
    background: var(--gray-200);
    border: 1px solid var(--gray-200);
    border-radius: .5rem;
    box-shadow: 0 2px 12px #0000000a;
    transition-property: border, background;
    transition-duration: .2s;

    & + .question {
        margin-top: .5rem;
    }

    &.highlighted {
        background: var(--highlighted);
        border: 1px solid var(--purple);

        footer .user-info span {
            color: var(--black);
        }
    }

    &.answered {
        background: var(--answered);
        border: 1px solid var(--answered);

        .answer-question {
            svg {
                path, circle {
                    stroke: var(--green);
                }

                &:hover {
                    path, circle {
                        stroke: var(--red);
                    }
                }
            }
        }
    }

    p {
        color: var(--black);
        overflow-wrap: break-word;
    }

    footer {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div:not(.user-info) {
            display: flex;
            gap: 1rem;

            svg path,
            svg circle {
                transition: stroke .2s;
            }
        }

        .answer-question:hover svg {
            path, circle {
                stroke: var(--green);
            }
        }

        .highlight-question:hover svg path {
            stroke: var(--purple);
        }
        
        .delete-question:hover svg path {
            stroke: var(--red) !important;
        }

        .like-button {
            display: flex;
            align-items: flex-end;
            cursor: default;
            gap: .5rem;
            color: var(--gray-25);

            &.liked {
                color: var(--purple);

                svg path {
                    stroke: var(--purple);
                }
            }

            &:not(:disabled) svg {
                cursor: pointer;
                transition: stroke .2s;

                &:hover path {
                    stroke: var(--purple);
                }
            }

            svg {
                margin-bottom: 2px;
                cursor: not-allowed;
            }
        }
    }
}
