.question {
    padding: 24px;
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px #0000000a;

    & + .question {
        margin-top: 8px;
    }

    p {
        color: #29292e;
    }

    footer {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid #29292e;
            }

            span {
                margin-left: 8px;
                color: #737380;
                font-size: 14px;
            }
        }
        
        .delete-question {
            svg path {
                transition: stroke .2s;
            }
    
            &:hover svg path {
                stroke: #E73F5D;
            }
        }

> div {
display: flex;
gap: 16px;
}

        .like-button {
            display: flex;
            align-items: flex-end;
            cursor: default;
            gap: 8px;
            color: #737380;

            &.liked {
                color: #835afd;

                svg path {
                    stroke: #835afd;
                }
            }

            &:not(:disabled) svg {
                cursor: pointer;
                transition: filter .2s;

                &:hover {
                    filter: brightness(.6);
                }
            }

            svg {
                margin-bottom: 2px;
                cursor: not-allowed;
            }
        }
    }
}
