.room-code {
    height: 2.5rem;
    border-radius: .5rem;
    border: 1px solid var(--purple);
    background: var(--white);
    
    display: flex;
    overflow: hidden;
    cursor: default;

    div {
        height: 100%;
        padding: 0 .75rem;
        background: var(--purple);
        transition: filter .2s;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: brightness(.9);
        }
    }

    span {
        width: fit-content;
        margin: 0 1rem 0 .75rem;
        font-size: .875rem;
        font-weight: 500;

        user-select: text;
        cursor: text;

        flex: 1;
        display: block;
        align-self: center;
    }
}