.room-code {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #835afd;
    background: #fff;
    
    display: flex;
    overflow: hidden;
    cursor: default;

    div {
        height: 100%;
        padding: 0 12px;
        background: #835afd;
        transition: filter .2s;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            filter: brightness(.9);
        }
    }

    span {
        width: fit-content;
        margin: 0 16px 0 12px;
        font-size: 14px;
        font-weight: 500;

        user-select: text;
        cursor: text;

        flex: 1;
        display: block;
        align-self: center;
    }
}